@use "../../global" as g;

.p-greeting {
  background-image: url("../img/bg-circle.png"), url("../img/bg-face.png");
  background-position: center 0, center 40px;
  &__inner {
    background-size: contain;
    @include g.mq(md) {
      background-image: url("../img/bg-circle.png");
    }
  }

  &__heading {
    text-align: center;
    font-weight: bold;
    position: relative;
  }
  &__message-underline {
    background: linear-gradient(transparent 70%, #f5f534 0%);
    @include g.font-size(40);
    @include g.mq(md) {
      @include g.font-size(32);
    }
  }
  &__text {
    text-align: center;
    color: g.$color-text;
    margin-top: 40px;
    margin-bottom: 160px;
  }
  &__link {
    text-align: center;
  }
}
