@use "../../global" as g;

.p-hero,
.p-sub-hero {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-transform: uppercase;
  height: 100vh;
  height: 100lvh;
  display: flex;
  position: relative;
  color: #fff;
  align-items: center;
  justify-content: center;
  &__inner {
    text-align: center;
    padding: 0 30px;
    @include g.mq(md) {
      text-align: left;
    }
  }
  &__title {
    @include g.font-size(72);
    font-weight: bold;
    // 単位なし=自要素のフォントサイズによって行間が変わる
    line-height: 1;
    @include g.mq(md) {
      @include g.font-size(40);
      line-height: 1.2;
    }
  }
  &__subtitle {
    @include g.font-size(24);
    margin-top: 20px;
    @include g.mq(md) {
      @include g.font-size(16);
    }
  }
  &__link {
    text-align: center;
    margin-top: 50px;
    @include g.mq(md) {
      margin-top: 30px;
    }
  }
  &__scroll {
    position: absolute;
    right: 20px;
    bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    @include g.font-size(12);
    line-height: 1;
    padding: 10px 10px 90px;
    // 文字を縦書きにする
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      background-color: #fff;
      width: 1px;
      height: 80px;
      -webkit-animation: scrollDownLine 1.5s infinite;
      animation: scrollDownLine 1.5s infinite;
    }
  }
}

.p-sub-hero {
  height: 240px;
  @include g.mq(md) {
    height: 190px;
  }
  &__inner {
    padding-top: 50px;
  }
  &__title {
    line-height: 1;
    @include g.font-size(36);
    @include g.mq(md) {
      @include g.font-size(30);
    }
  }
  &__subtitle {
    @include g.font-size(14);
    text-align: center;
    font-weight: bold;
    margin-top: 3px;
    @include g.mq(md) {
      @include g.font-size(12);
      margin-top: 0;
    }
  }
}
