@use "../../global" as g;

.p-pagination {
  display: flex;
  justify-content: center;
  // &__button {
  //   display: block;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   background-image: linear-gradient(135deg, #7633a4, #250d65);
  //   border-radius: 9999px;
  //   @include g.font-size(18);
  //   font-weight: bold;
  //   color: #fff;
  //   width: 50px;
  //   height: 50px;
  //   &:not(:last-child) {
  //     margin-right: 15px;
  //   }
  // }
  // &__current {
  //   background-image: none;
  //   color: g.$color-primary-dark;
  //   background-color: #f1ebf8;
  // }
  .page-numbers {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #7633a4, #250d65);
    border-radius: 9999px;
    @include g.font-size(18);
    font-weight: bold;
    color: #fff;
    width: 50px;
    height: 50px;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  .current {
    background-image: none;
    color: g.$color-primary-dark;
    background-color: #f1ebf8;
  }
}
