@use "../../global" as g;

.p-post {
  &__title {
    @include g.font-size(32);
    line-height: 1.5;
    margin-bottom: 20px;
  }
  &__info {
    display: flex;
  }
  &__date {
    margin-right: 20px;
    @include g.font-size(14);
    color: g.$color-text;
  }
  &__head {
    margin-bottom: 30px;
  }
  &__body {
    p {
      @include g.font-size(15);
      margin-bottom: 40px;
    }
    h3 {
      @include g.font-size(24);
      position: relative;
      padding-left: 20px;
      margin: 20px 0;
      line-height: 1.5;
      &::before {
        content: "";
        background-color: g.$color-primary;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 6px;
        border-radius: 6px;
      }
    }
    h4 {
      @include g.font-size(18);
      line-height: 1.5;
      margin: 20px 0;
    }
  }
  &__img-wrapper {
    margin-bottom: 40px;
  }
}

.p-post-pager {
  &__list {
    border-top: 1px solid #b8aed5;
    border-bottom: 1px solid #b8aed5;
    color: #b8aed5;
    display: flex;
    margin-bottom: 20px;
  }
  &__item {
    width: 50%;
    margin: 15px 0;
    &:first-child {
      border-right: 1px solid #b8aed5;
    }
  }
  a {
    display: block;
    color: g.$color-primary;
    padding: 15px 32px;
  }
  &__home {
    text-align: center;
  }
}
