@use "../../global" as g;

.p-recruit {
  &__inner {
    display: flex;
    padding: 0 15px;
    @include g.mq(md) {
      flex-direction: column-reverse;
    }
  }
  &__desc {
    background-color: g.$color-gray;
    text-align: center;
    padding: 70px 40px;
    flex: 1;
  }
  &__heading {
    margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 30px;
  }
  &__img-wrapper {
    background-image: url("../img/recruit.jpg");
    background-size: cover;
    background-position: center center;
    width: 60%;
    @include g.mq(md) {
      width: 100%;
      height: 200px;
    }
  }
}
