@use "../../global" as g;

.c-card-wrapper {
  display: flex;
  justify-content: space-around;
  @include g.mq(md) {
    display: block;
  }
}
.c-card {
  width: calc(33.333333333% - 20px);
  margin-bottom: 30px;
  margin-right: 25px;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  @include g.mq(md) {
    width: 100%;
  }
  &__title {
    @include g.font-size(18);
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
  }
  &__text {
    color: g.$color-text;
  }
  // &__img {
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }
}
